<h3>Edit Hack</h3>

<form method="post" action="/hacks/<%= @hack.id %>">
Description: <input type="text" name="description" id="description" value="<%= @hack.description %>">
<input type="submit" id="submit" name="submit" value="submit">
</form>
