<h3> All Hacks: </h3>
<ul>
<% Hack.all.each do |hack| %>
  <div>
      <li><a href="/hacks/<%= hack.id %>"><%= hack.title %></a> - Submitted by <%= hack.user.username %>
      </li>
  </div>
<% end %>
</ul>
