<<<<<<< HEAD
<h1>Welcome to Tiphac - TIPs, Hacks, And Crafts!</h1>
<h2>Make Life more Fun!</h2>
=======
<h1>Welcome to Fwitter</h1>
<h2>Hack!</h2>
>>>>>>> 64048600b4b11bd48cbe3827cc7f2ed31ffffdde

<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.
