<!doctype html>
<html>
  <head>
    <title>Tiphac = TIPs, Hacks, And Crafts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="logo">
      <h1>Tiphac = TIPs, Hacks, And Crafts</h1>
    <div>

    <nav>
      <p>
      <% if logged_in? %>
          <a href="/users/<%=current_user.username %>">Welcome, <%=current_user.username %></a> |
          <a href="/hacks">All Hacks</a> |
          <a href="/hacks/new">Create Hack</a> |
          <a href="/logout">Log Out</a>
      <% else %>
          <a href="/signup">Sign Up</a> |
          <a href="/login">Sign In</a>
      <%end %>
      </p>

    </nav>
    <div class="container">

      <% if logged_in? || !!@trying %>
        <%= yield %>
      <% else %>
        <h2>Please <a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to continue.</h2>
      <%end %>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
